<style>
  .how-to-title {
    text-align: center;
    color: #5e72e4;
    margin-bottom: 34px;
    text-decoration: underline;
  }

  .how-to-body {
    max-width: 768px;
    margin: 0 auto;
  }

  /* .how-to-body__list {} */
</style>

<mt-page>
  <div class="how-to">
    <div class="how-to-title tui-text_h4">How to collect data about your page?</div>
    <div class="how-to-body">
      <ul class="how-to-body__list">
        <li class="how-to-body__list-item tui-text_body-l">Hello</li>
      </ul>
    </div>
  </div>
</mt-page>